<% if lyrics.any? %>
  <table class="table table-striped text-center long-sentence">
    <thead>
      <tr>
        <th class="h3">Title</th>
      </tr>
    </thead>
    <tbody>
      <% lyrics.each do |lyric| %>
        <tr>
          <td><%= link_to lyric.title, lyric %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= paginate lyrics %>
  </div>
<% end %>
