
body {
  background-color: #ECF0F3;
} 

a {
  color: rgba(0,0,0,.75);
}

/*Header*/
.dropdown-menu {
  background-color: #ECF0F3;
}

.dropdown-divider {
  border-color:rgba(0,0,0,.15);
}

.dropdown-item a {
  color: black;
}

nav img {
  width: 170px;
}


/*Toppage*/

.thought {
    display:  block;              
    margin: 0 auto;                
}

.card {
  width: 100%;
  background-color: white;
}

.lyst {
  margin:0 auto;
  text-align: center;
  font-size: 35px;
}

.card > img {
  width: 100%;
}

.card-group {
  margin-bottom: 100px;
}

.concept > p {
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}

/*lyric-show*/
.madeby {
  margin-right: 0;
  display: block;
}

/*lyric-index*/
.work {
  border: solid 1px black;
  margin-bottom: 10px;
}

/*kaminari*/
.pagination>li>a {             /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

.page-item.active .page-link {
    color: #fff;
    background-color: rgba(0,0,0,.30);
    border-color: rgba(0,0,0,.30);
}

/*lyrics/show*/
.long-sentence {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table {
table-layout: fixed;
}

.comment-content {
  text-align: center;
  width: 64%;
  word-wrap: break-word;
  overflow-wrap:break-word;
  padding: 2%;
  border: solid 0.5px rgba(0,0,0,.15);
}

.comment-id {
  width: 13%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-delete {
  width:17%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image {
  text-align: center;
}

.music {
  height: 100px;
}