
body {
  background-color: #ECF0F3;
} 

/*Header*/
.dropdown-menu {
  background-color: #ECF0F3;
}

.dropdown-divider {
  border-color:rgba(0,0,0,.15);
}

.dropdown-item a {
  color: black;
}

nav img {
  width: 192px;
}


/*Toppage*/

.anime_test {
    display:  block;              
    margin: 0 auto;                
    width: 300px;
}

.card {
  width: 100%;
  background-color: white;
}

.lyst {
  margin:0 auto;
  text-align: center;
  font-size: 35px;
}

.card > h2 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}

.card > img {
  width: 100%;
  margin: 0 auto;
}

.card-group {
  margin-bottom: 100px;
}

.concept > p {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}